@using StudMap.Core
@using StudMap.Core.Maps
@model ListResponse<Floor>

@if (Model != null && Model.List.Count > 0)
{
    <div class="table">
        <div class="tableCell Headline">
            <div class="tableRow">FloorId</div>
            <div class="tableRow">MapId</div>
            <div class="tableRow">FloorImageFile</div>
        </div>
        @foreach (var floor in Model.List)
        {
            <div class="tableCell" onclick=" Admin.loadFloorplan(@floor.MapId, @floor.Id) ">
                <div class="tableRow">@floor.Id</div>
                <div class="tableRow">@floor.MapId</div>
                <div class="tableRow">@floor.ImageUrl</div>
            </div>
        }
    </div>
    <div>@Html.ActionLink("Anlegen", "CreateFloor/", "Admin", new { mapId = ViewBag.MapId }, null)</div>
}
else
{
    <div>Es wurden noch kein Stockwerk angelegt. Neue Karte @Html.ActionLink("erstellen", "CreateFloor", "Admin", new { mapId = ViewBag.MapId }, null)?</div>
}