@using StudMap.Core.Maps
@model List<Map>
@{
    ViewBag.Title = "Admin";
}
@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/Home/Admin.css")" type="text/css"/>
}
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/d3.v3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/d3.floorplan.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Admin/graph.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Admin/Admin.js")"></script>
}

<div>
    <div class="tab active">Maps</div>
    <div class="tab">Floors</div>
    <div class="tab">Layer</div>
    <br style="clear:both"/>
</div>
<div id="adminContent">
    @Html.Partial("_Maps")
</div>
