@using StudMap.Core.Maps
@model List<Map>
@{
    ViewBag.Title = "Admin";
}
@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/Home/Admin.css")" type="text/css"/>
}
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/d3.v3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/d3.floorplan.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Admin/graph.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Admin/Admin.js")"></script>
}

<div>
    <div id="mapsTab" class="tab active">Maps</div>
    <div id="floorsTab" class="tab">Floors</div>
    <div id="layerTab" class="tab">Layer</div>
    <br style="clear:both"/>
</div>
<div id="adminContent">
    @{
        Html.RenderAction("GetMaps");
    }
</div>
