@using StudMap.Core
@model ObjectResponse<StudMap.Core.Maps.Floor>
@{
    ViewBag.Title = "FloorPlan";
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/d3.v3.min.js")"> </script>

    @Scripts.Render("~/bundles/StudMapClient")
    <script type="text/javascript">
        var client = new StudMapClient('@Model.Object.MapId', '@Model.Object.Id', '@Model.Object.ImageUrl');
        client.init();
    </script>
}
    
@section styles{
    <link href="@Url.Content("~/Content/Client.css")" rel="stylesheet" />
}
    
@if (Model.Status == RespsonseStatus.Error)
{
    <div>Es ist ein Fehler beim Laden aufgetreten.</div>
}
else
{
    <div id="map">
        <svg id="svgMap" height="100%" width="100%"></svg>
    </div>
}