@model StudMap.Core.ObjectResponse<StudMap.Core.Maps.Floor>

<script type="text/javascript">
    var mapId = '@Model.Object.MapId';
    var floorId = '@Model.Object.Id';
    var imageUrl = '@Model.Object.ImageUrl';
</script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Admin/graph.js")"> </script>

<h3>@Model.Object.Name</h3>
<br />

<div id="floorplan"></div>

<button onclick=" saveGraph(); ">Speichern</button>